:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light-background: #dee8d1;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: grid;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body > #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header {
  align-items: start;
  background-color: var(--light-background);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  position: sticky;
}
header * {
  align-items: center;
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}
header > div header > a {
  flex-wrap: wrap;
}
header img {
  border-radius: 50%;
  height: min(7rem, 20vw);
  width: auto;
}
header > span {
  bottom: 0;
  display: none;
  font-weight: bold;
  max-width: 55vw;
  padding: 1rem;
  position: absolute;
  right: 0;
}
header > div.header-links {
  align-items: start;
  display: grid;
  grid-template-columns: min-content min-content;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
}
header > div.header-links > div:last-child {
  display: grid;
  gap: 0.5rem;
}

.header-extension {
  background-color: var(--light-background);
  padding: 0.5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  display: grid;
  flex-grow: 1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (min-width: 500px) {
  header * {
    display: flex;
  }
  header > span {
    display: block;
  }
}
