:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --attention-color: #646cff;
  --item-background: #d1dbc4;
  --light-background: #f6fbef;
  --light-background-semi-transparent: #f6fbefaa;
  --light-outline: #5e665444;
  --medium-background: #dee8d1;
  --text-color: #222521;
  --text-light: #222521aa;

  color-scheme: light dark;
  color: inherit;
  background-color: var(--medium-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--attention-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: var(--text-color);
  display: grid;
  height: fit-content;
  margin: 0;
  padding: 0;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
}

button {
  background-color: var(--item-background);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
div.links a:focus,
div.links a:focus-visible,
div.links a:hover {
  border-color: var(--attention-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

div.contact > div > a {
  border: 1px solid var(--light-outline);
}
div.contact > div > a:hover {
  border-color: var(--attention-color);
}

div.links a {
  background-color: var(--medium-background);
  border: 1px solid var(--light-outline);
  color: var(--text-color);
}

div.passion > button {
  background-color: #00000000;
  border: 2px solid var(--light-outline);
}

div.projects > div {
  border: 2px solid var(--light-outline);
}
div.projects > div:focus,
div.projects > div:focus-visible,
div.projects > div:hover {
  border-color: var(--attention-color);
}
div.projects > div > img {
  border-radius: 0.5rem;
}

footer {
  background-color: var(--medium-background);
  margin-top: 1rem;
}

header {
  align-items: start;
  background-color: var(--medium-background);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
  position: sticky;
  z-index: 1;
}
header * {
  align-items: center;
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}
header > div,
header > a {
  flex-wrap: wrap;
}
header > a:first-child span {
  font-size: 1.5rem;
}
header img {
  border-radius: 50%;
  height: min(7rem, 20vw);
  width: auto;
}
header > span {
  bottom: 0;
  display: none;
  font-weight: bold;
  max-width: 55vw;
  padding: 1rem;
  position: absolute;
  right: 0;
}
header > div.header-links {
  align-items: start;
  display: grid;
  grid-template-columns: min-content min-content;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
}
header > div.header-links > div:last-child {
  display: grid;
  gap: 0.5rem;
}

.header-extension {
  background-color: var(--medium-background);
  padding: 0.5rem 1rem;
}

label > input,
label > textarea {
  border-color: var(--light-outline);
}
label span {
  color: var(--text-light);
}

main {
  align-content: stretch;
  align-items: center;
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  justify-items: start;
  max-width: 1500px;
  padding: 0;
  width: 100%;
}
main > * {
  box-sizing: border-box;
  padding: 0 2vw;
}
main > p {
  margin: 0;
  padding: 0 1rem;
  text-align: justify;
}

#root {
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: start;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --attention-color: #646cff;
    --item-background: #92978c;
    --light-background: #f6fbef;
    --medium-background: #dee8d1;
    --text-color: #222521;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (min-width: 500px) {
  header * {
    display: flex;
  }
  header > span {
    display: flex;
  }
}
